
@{
    ViewBag.Title = "Domů";
}


<div class="blog-post text-justify">
    <h4 class="font-bety center-top">{{headTitle + title}}</h4>
    <p class="lead blog-description">{{text}} </p>


    <div class="col-lg-8">
        <a href="~/Files/Akce.pdf">
            <h4 class="center-top font-bety">Pozvánka na akce</h4>
            <img class="img-responsive" src="~/Images/Galery/Preview/IMG_4.jpg" />
        </a>
    </div>
</div>