@model Carusel_template.Models.Document
@{
    ViewBag.Title = "Galerie";
}


<div class="container">
    <br />
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-6" style="top:160px;" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                   
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-0"><img src="http://placehold.it/150x150&text=0"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carusel-selector-6"><img src="http://placehold.it/150x150&text=6"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-12"><img src="http://placehold.it/150x150&text=12"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-18"><img src="http://placehold.it/150x150&text=18"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-24"><img src="http://placehold.it/150x150&text=24"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-30"><img src="http://placehold.it/150x150&text=30"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-36"><img src="http://placehold.it/150x150&text=36"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-42"><img src="http://placehold.it/150x150&text=42"></a>
                    </li>
                   
                </ul>
            </div>
            <div class="col-sm-6">
                <br />
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                        <img src="http://placehold.it/470x480&text=zero">
                                    </div>
                                    <div class="item" data-slide-number="1">
                                        <img src="http://placehold.it/470x480&text=1">
                                    </div>
                                    <div class="item" data-slide-number="2">
                                        <img src="http://placehold.it/470x480&text=2">
                                    </div>
                                    <div class="item" data-slide-number="3">
                                        <img src="http://placehold.it/470x480&text=3">
                                    </div>
                                    <div class="item" data-slide-number="4">
                                        <img src="http://placehold.it/470x480&text=4">
                                    </div>
                                    <div class="item" data-slide-number="5">
                                        <img src="http://placehold.it/470x480&text=5">
                                    </div>

                                    <div class="item" data-slide-number="6">
                                        <img src="http://placehold.it/470x480&text=6">
                                    </div>

                                    <div class="item" data-slide-number="7">
                                        <img src="http://placehold.it/470x480&text=7">
                                    </div>

                                    <div class="item" data-slide-number="8">
                                        <img src="http://placehold.it/470x480&text=8">
                                    </div>

                                    <div class="item" data-slide-number="9">
                                        <img src="http://placehold.it/470x480&text=9">
                                    </div>

                                    <div class="item" data-slide-number="10">
                                        <img src="http://placehold.it/470x480&text=10">
                                    </div>

                                    <div class="item" data-slide-number="11">
                                        <img src="http://placehold.it/470x480&text=11">
                                    </div>

                                    <div class="item" data-slide-number="12">
                                        <img src="http://placehold.it/470x480&text=12">
                                    </div>
                                    <div class="item" data-slide-number="13">
                                        <img src="http://placehold.it/470x480&text=13">
                                    </div>
                                    <div class="item" data-slide-number="14">
                                        <img src="http://placehold.it/470x480&text=14">
                                    </div>
                                    <div class="item" data-slide-number="15">
                                        <img src="http://placehold.it/470x480&text=15">
                                    </div>
                                    <div class="item" data-slide-number="16">
                                        <img src="http://placehold.it/470x480&text=16">
                                    </div>
                                    <div class="item" data-slide-number="17">
                                        <img src="http://placehold.it/470x480&text=17">
                                    </div>
                                    <div class="item" data-slide-number="18">
                                        <img src="http://placehold.it/470x480&text=18">
                                    </div>
                                    <div class="item" data-slide-number="19">
                                        <img src="http://placehold.it/470x480&text=19">
                                    </div>
                                    <div class="item" data-slide-number="20">
                                        <img src="http://placehold.it/470x480&text=20">
                                    </div>
                                    <div class="item" data-slide-number="21">
                                        <img src="http://placehold.it/470x480&text=21">
                                    </div>

                                    <div class="item" data-slide-number="22">
                                        <img src="http://placehold.it/470x480&text=22">
                                    </div>

                                    <div class="item" data-slide-number="23">
                                        <img src="http://placehold.it/470x480&text=23">
                                    </div>

                                    <div class="item" data-slide-number="24">
                                        <img src="http://placehold.it/470x480&text=24">
                                    </div>

                                    <div class="item" data-slide-number="25">
                                        <img src="http://placehold.it/470x480&text=25">
                                    </div>

                                    <div class="item" data-slide-number="26">
                                        <img src="http://placehold.it/470x480&text=26">
                                    </div>
                                    <div class="item" data-slide-number="27">
                                        <img src="http://placehold.it/470x480&text=27">
                                    </div>
                                    <div class="item" data-slide-number="28">
                                        <img src="http://placehold.it/470x480&text=28">
                                    </div>
                                    <div class="item" data-slide-number="29">
                                        <img src="http://placehold.it/470x480&text=29">
                                    </div>
                                    <div class="item" data-slide-number="30">
                                        <img src="http://placehold.it/470x480&text=30">
                                    </div>
                                    <div class="item" data-slide-number="31">
                                        <img src="http://placehold.it/470x480&text=31">
                                    </div>
                                    <div class="item" data-slide-number="32">
                                        <img src="http://placehold.it/470x480&text=32">
                                    </div>
                                    <div class="item" data-slide-number="33">
                                        <img src="http://placehold.it/470x480&text=33">
                                    </div>
                                    <div class="item" data-slide-number="34">
                                        <img src="http://placehold.it/470x480&text=34">
                                    </div>

                                    <div class="item" data-slide-number="35">
                                        <img src="http://placehold.it/470x480&text=35">
                                    </div>

                                    <div class="item" data-slide-number="36">
                                        <img src="http://placehold.it/470x480&text=36">
                                    </div>

                                    <div class="item" data-slide-number="37">
                                        <img src="http://placehold.it/470x480&text=37">
                                    </div>

                                    <div class="item" data-slide-number="38">
                                        <img src="http://placehold.it/470x480&text=38">
                                    </div>

                                    <div class="item" data-slide-number="39">
                                        <img src="http://placehold.it/470x480&text=39">
                                    </div>

                                    <div class="item" data-slide-number="40">
                                        <img src="http://placehold.it/470x480&text=40">
                                    </div>

                                    <div class="item" data-slide-number="41">
                                        <img src="http://placehold.it/470x480&text=41">
                                    </div>
                                    <div class="item" data-slide-number="42">
                                        <img src="http://placehold.it/470x480&text=42">
                                    </div>
                                    <div class="item" data-slide-number="43">
                                        <img src="http://placehold.it/470x480&text=43">
                                    </div>
                                    <div class="item" data-slide-number="44">
                                        <img src="http://placehold.it/470x480&text=44">
                                    </div>
                                    <div class="item" data-slide-number="45">
                                        <img src="http://placehold.it/470x480&text=45">
                                    </div>
                                    <div class="item" data-slide-number="46">
                                        <img src="http://placehold.it/470x480&text=46">
                                    </div>
                                    <div class="item" data-slide-number="47">
                                        <img src="http://placehold.it/470x480&text=47">
                                    </div>
                                    <div class="item" data-slide-number="48">
                                        <img src="http://placehold.it/470x480&text=48">
                                    </div>
                                    </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
        </div>
    </div>
</div>

