body {
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    pointer-events:initial;
}


    img {
        width:1350px;
        height:600px;
    }

.carousel-pos{
    left:250px;
    top: 100px;
    position:fixed;
    color:white;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
